<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdministrationFilter</filter-name>
        <filter-class>filters.AdministrationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>CategoryServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>InventoryServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>ProvinceListServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>ShoppingCartServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>ShopServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>CheckoutServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>OrderListServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>CustomerServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>ShipDetailServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>OrderDetailAdmin</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>OrderConfirmation</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>ProfileSettingServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>OrderListCustomer</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>OrderDetailCustomer</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>UserEditServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>InactiveCustomerList</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>ShipOrderServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>AdminContactListServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>InactiveInventoryServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdministrationFilter</filter-name>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-name>InventoryServlet</servlet-name>
        <servlet-name>ProvinceListServlet</servlet-name>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-name>OrderListServlet</servlet-name>
        <servlet-name>OrderDetailAdmin</servlet-name>
        <servlet-name>InactiveCustomerList</servlet-name>
        <servlet-name>InactiveInventoryServlet</servlet-name>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-name>AdminContactListServlet</servlet-name>
        <servlet-name>ShipOrderServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>servlets.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryServlet</servlet-name>
        <servlet-class>servlets.InventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvinceListServlet</servlet-name>
        <servlet-class>servlets.ProvinceListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <servlet-class>servlets.ShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>servlets.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>servlets.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListServlet</servlet-name>
        <servlet-class>servlets.OrderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>servlets.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipDetailServlet</servlet-name>
        <servlet-class>servlets.ShipDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailAdmin</servlet-name>
        <servlet-class>servlets.OrderDetailAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderConfirmation</servlet-name>
        <servlet-class>servlets.OrderConfirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileSettingServlet</servlet-name>
        <servlet-class>servlets.ProfileSettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>servlets.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListCustomer</servlet-name>
        <servlet-class>servlets.OrderListCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailCustomer</servlet-name>
        <servlet-class>servlets.OrderDetailCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEditServlet</servlet-name>
        <servlet-class>servlets.UserEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InactiveCustomerList</servlet-name>
        <servlet-class>servlets.InactiveCustomerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InactiveInventoryServlet</servlet-name>
        <servlet-class>servlets.InactiveInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>servlets.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminContactListServlet</servlet-name>
        <servlet-class>servlets.AdminContactListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipOrderServlet</servlet-name>
        <servlet-class>servlets.ShipOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryServlet</servlet-name>
        <url-pattern>/inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvinceListServlet</servlet-name>
        <url-pattern>/province</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListServlet</servlet-name>
        <url-pattern>/orderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/customer-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipDetailServlet</servlet-name>
        <url-pattern>/shipping-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailAdmin</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderConfirmation</servlet-name>
        <url-pattern>/orderConfirmation</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ProfileSettingServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListCustomer</servlet-name>
        <url-pattern>/customerOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailCustomer</servlet-name>
        <url-pattern>/corderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEditServlet</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InactiveCustomerList</servlet-name>
        <url-pattern>/inactive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InactiveInventoryServlet</servlet-name>
        <url-pattern>/inactive-inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminContactListServlet</servlet-name>
        <url-pattern>/message-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipOrderServlet</servlet-name>
        <url-pattern>/ship-order</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <env-entry>
        <env-entry-name>webmail-username</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>cuteyncooltyhelp@gmail.com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>webmail-password</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>spidermansuperman</env-entry-value>
    </env-entry>
</web-app>
